[omni]
user = omni
group = omni
listen = /run/php/php8.3-fpm-omni.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 2
pm.max_spare_servers = 5
pm.max_requests = 500

php_admin_value[memory_limit] = 256M
php_admin_value[max_execution_time] = 120
php_admin_value[upload_max_filesize] = 10M
php_admin_value[post_max_size] = 11M
php_admin_value[session.cookie_secure] = 1
php_admin_flag[display_errors] = off

clear_env = yes
catch_workers_output = yes
